@model List<EmployeeAccessSystem.Models.AccessControlRoleActionModel>

@{
    int accountId = ViewBag.AccountId;
    string fullName = ViewBag.FullName;
    string email = ViewBag.Email;
    string roleName = ViewBag.RoleName;
}

<div class="modal-header bg-white">

    <h5 class="modal-title font-weight-bold">
        <i class="fas fa-key mr-1"></i>
        User Permission
    </h5>

</div>

<form asp-action="SaveUserAccess" asp-controller="AccessControl" method="post" id="userPermissionForm">

    @Html.AntiForgeryToken()

    <input type="hidden" name="accountId" value="@accountId" />

    <div class="modal-body p-2 overflow-auto" style="max-height: 55vh;">

        @* User Detail *@
        <div class="card card-outline card-primary shadow-none mb-2">

            <div class="card-header bg-white py-2">

                <h3 class="card-title mb-0">
                    <i class="fas fa-user mr-1"></i>
                    User Detail
                </h3>

            </div>

            <div class="card-body py-2">

                <div class="row">

                    <div class="col-md-4 mb-1">
                        Name: @fullName
                    </div>

                    <div class="col-md-4 mb-1">
                        Email: @email
                    </div>

                    <div class="col-md-4 mb-1">
                        Role: @roleName
                    </div>

                </div>

            </div>

        </div>

        @* Permissions *@
        <div class="card card-outline card-primary shadow-none mb-0">

            <div class="card-header bg-white py-2">

                <div class="row align-items-center">

                    <div class="col-md-6">

                        <h3 class="card-title mb-0">
                            <i class="fas fa-lock mr-1"></i>
                            Permissions
                        </h3>

                    </div>

                    <div class="col-md-6 text-right">

                        <div class="custom-control custom-checkbox d-inline-block">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="selectAllPermission" />

                            <label class="custom-control-label" for="selectAllPermission">
                                Select All
                            </label>
                        </div>

                    </div>

                </div>

            </div>

            <div class="card-body py-2">

                @if (Model != null && Model.Count > 0)
                {
                    foreach (var mainGroup in Model.GroupBy(x => new { x.MainMenuId, x.MainMenuName }).OrderBy(x => x.Key.MainMenuId))
                    {
                        string mainCollapseId = "mainCollapse_" + mainGroup.Key.MainMenuId;

                        <div class="border-bottom pb-2 mb-2">

                            <div class="text-primary mb-2"
                                 data-toggle="collapse"
                                 data-target="#@mainCollapseId"
                                 aria-expanded="true">

                                <i class="fas fa-angle-down mr-1"></i>
                                @mainGroup.Key.MainMenuName

                            </div>

                            <div id="@mainCollapseId" class="collapse show">

                                @foreach (var pageGroup in mainGroup.GroupBy(x => new { x.PageMenuId, x.PageMenuName }).OrderBy(x => x.Key.PageMenuId))
                                {
                                    string pageCollapseId = "pageCollapse_" + mainGroup.Key.MainMenuId + "_" + pageGroup.Key.PageMenuId;

                                    <div class="ml-3 mb-2">

                                        <div class="text-dark mb-1"
                                             data-toggle="collapse"
                                             data-target="#@pageCollapseId"
                                             aria-expanded="true">

                                            <i class="fas fa-angle-right mr-1"></i>
                                            @pageGroup.Key.PageMenuName

                                        </div>

                                        <div id="@pageCollapseId" class="collapse show">

                                            @foreach (var item in pageGroup.OrderByDescending(x => x.IsVisibleInSidebar).ThenBy(x => x.MenuId))
                                            {
                                                string checkboxId = "permission_" + item.MenuId;

                                                string checkboxClass = "custom-control-input permission-checkbox";

                                                if (item.IsVisibleInSidebar)
                                                {
                                                    checkboxClass = checkboxClass + " permission-page-checkbox";
                                                }
                                                else
                                                {
                                                    checkboxClass = checkboxClass + " permission-action-checkbox";
                                                }

                                                <div class="ml-4 mb-1">

                                                    <div class="custom-control custom-checkbox">

                                                        <input type="checkbox"
                                                               class="@checkboxClass"
                                                               id="@checkboxId"
                                                               name="checkedMenuIds"
                                                               value="@item.MenuId"
                                                               data-page-menu-id="@pageGroup.Key.PageMenuId"
                                                               @(item.IsChecked ? "checked" : "") />

                                                        <label class="custom-control-label font-weight-normal" for="@checkboxId">
                                                            @item.MenuName
                                                        </label>

                                                    </div>

                                                </div>
                                            }

                                        </div>

                                    </div>
                                }

                            </div>

                        </div>
                    }
                }
                else
                {
                    <div class="text-center text-muted py-3">
                        No permissions found.
                    </div>
                }

            </div>

        </div>

    </div>

    <div class="modal-footer bg-white">

        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            Back
        </button>

        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-save mr-1"></i>
            Save
        </button>

    </div>

</form>